@import 'compass/typography/text/force-wrap';
@import 'compass/layout/stretching';
@import 'base';

$base-font-size: 16px;
$base-line-height: 26px;
$headings-color: $text-color;

@import 'mixins/responsive';
@import 'grid';
@import 'annotations';
@import 'forms';
@import 'markdown-editor';
@import 'spinner';
@import 'threads';
@import 'styled-text';
@import 'simple-search';
@import 'tags-input';
@import 'topbar';
@import 'page';
@import 'help-page';

//ELEMENT STYLES////////////////////////////////
a {
  color: $link-color;
  &:hover { color: $link-color-hover; }
  text-decoration: none;
}

body {
  position: relative;
  background-color: $body-background;
  color: $text-color;
  line-height: 1.4;
}

p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

  & + p {
    margin: 1em 0 0;
  }
}

em { font-style: italic; }

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

//PAPER////////////////////////////////
//Provides the white background upon which items sit
.paper {
  background: $white;
  border: solid 1px $gray-lighter;
  border-radius: 2px;
  padding: 1em;
}

//MCRANDOM////////////////////////////////

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.small {
  font-size: .8em;
}

//Candidate for cleanup
.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $link-color;
  position: static;

  &:hover, &:focus, &.js-focus, &.js-hover {
    color: $link-color-hover;
  }
}

.red {
  color: $brand-color;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


//CLOSER////////////////////////////////
.close {
  cursor: pointer;
  float: right;
  opacity: .6;
  &:active, &:hover {
    opacity: 1;
  }
}


// Share this page /////////////////////
.share-via-link {
  font-size: 1.2em;
  top: 1px;
  left: 7px;
  position: relative;
  cursor: pointer;
  color: $gray-light;

  &:hover {
    color: $gray-dark;
  }
}

//FORM RELATED////////////////////////////////
.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    display: block;
  }
}

.req {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


//DROPDOWNS////////////////////////////////
.dropdown {
  position: relative;
  span {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.dropdown-toggle {
  cursor: pointer;

  &:active {
    outline: 0;
  }
}

.dropdown-menu {
  background: $white;
  border: solid 1px $gray-lighter;
  float: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  margin-top: 1px;
  z-index: 2;
  min-width: 130px;

  li:not(.ng-hide) {
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;

    a {
      display: block;
      line-height: 1;
      padding: .5em;
      white-space: nowrap;
    }

    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
      &:before {
        font-size: .7em;
      }
    }

    & + li {
      border-top: dotted 1px $gray-lighter;
    }
  }

  a {
    color: inherit;
  }

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
    text-align: right;
  }
}

.open {
  & > .dropdown-menu {
    @include smallshadow;
    opacity: 1;
    pointer-events: auto;
  }
}

//TABS////////////////////////////////
.nav-tabs {
  margin-bottom: .7em;

  & > li {
    display: inline-block;
    line-height: 1;

    a {
      font-family: $sans-font-family;
      font-weight: bold;
      color: $gray-dark;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      padding-left: .153em;
      padding-right: .153em;
      padding-bottom: .076em;
    }

    &:active a {
      position: relative;
      top: .076em;
    }


    &.active:active a {
      top: 0;
    }

    &.active a {
      border-color: $gray-lighter;
    }

    &:before {
      content: "/";
      margin: 0 .75em;
    }

    &:first-child:before {
      content: none;
    }
  }
}

.tab-content {
  line-height: 1.4;

  .tab-pane {
    display: none;
    &.active {
      display: inherit !important;
    }
  }
}
